@if (isLoading) {
  <p>Loading...</p>
} @else {
  <p>welcome works!</p>
}

<form [formGroup]="form">
  <label for="name">Name:</label>
  <input id="name" type="text" formControlName="name" />

  <label for="age">Age:</label>
  <input id="age" type="text" formControlName="age" />

  <button (click)="submitForm()">Submit</button>
</form>

<br>
<p>Name: {{ form.get('name')?.value }}</p>
<p>Age: {{ form.get('age')?.value }}</p>

<hr>

<p>{{ 'hello' | translate }}</p>
<p>{{ 'welcome' | translate }}</p>
